@import "../../../styles";

.navbarContainer {
  height: 5rem;
  background: $weaveBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  .title {
    color: white;
    margin-right: 250px   ;
  }

  .navbarLeft,
  .navbarRight {
    display: flex;
    justify-content: space-around;
  }
  .navbarRight {
    width: 12em;

    .logout {
      cursor: pointer;
    }
  }
  .navbarLeft {
    width: 31em;
  }
}
