<div class="container">
  <div class="row">
    <div class="recipesContainer col-lg-12 ">

      <div>
        <!--<recipes-list (recipeSelected)="selectedRecipe = $event"></recipes-list>-->
          <recipes-list></recipes-list>
      </div>

      <div>
        <div>
          <h4>Recipe List</h4>
        </div>
        <div>
          <h4>Recipe Detail</h4>
          <recipe-detail [selectedRecipe]="selectedRecipe "></recipe-detail>
        </div>
      </div>
    </div>
  </div>
</div>

    <!--<input type="text" name="new-recipe" id="new-recipe" [(ngModel)]="new_recipe">-->
    <!--<button class="btn btn-success" name="recipe-name" (click)="newRecipe(new_recipe)">Save</button>-->
    <!--<ul>-->

      <!--<li *ngFor="let recipe of recipes">-->
      <!--{{recipe.title}}-->
      <!--</li>-->

    <!--</ul>-->
