//@import "assets/Montserrat/";

//Global colors
$weaveBlue: #37CFF1;
$mediumBlue: #12B7DD;
$darkBlue: #1698B8;
$lightGreen: #1ED72D;
$red: #D0011B;
$black: #000;
$gray1: #4A4A4A;
$gray2: #3E4C54;
$gray3: #9B9b9B;
$white: #FFF;

//Global font

//$mainfont: 'Montserrat', sans-serif;
