<div>
  <div>
    <!--add a radio that creates a new shopping list when turned on-->
    <shopping-list-add></shopping-list-add>
  </div>
</div>



        <!--<div class="form-group">-->
          <!--<label for="username">Username</label>-->
          <!--<input-->
            <!--type="text"-->
            <!--class="form-control"-->
            <!--id="username"-->
            <!--formControlName="username">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="email">Email</label>-->
          <!--<input-->
            <!--type="email"-->
            <!--class="form-control"-->
            <!--id="email"-->
            <!--formControlName="email">-->
          <!--<span *ngIf="!shoppingListForm.controls['email'].valid">Invalid Email</span>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="password">Password</label>-->
          <!--<input-->
            <!--type="password"-->
            <!--class="form-control"-->
            <!--id="password"-->
            <!--formControlName="password">-->
        <!--</div>-->
